<div class="row">

    {{!-- Insert User Card --}}
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header"><b>Sign up</b></div>
            <div class="card-body">
                <form method="post" action="/insert">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">User name</label>
                        <input type="text" class="form-control" placeholder="Enter username" name="username"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your data with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Email</label>
                        <input type="Email" placeholder="Enter Email" name="userMail" class="form-control"
                            id="exampleInputPassword1">
                    </div>
                    <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{!-- ---------------- --}}

    {{!-- Get User Card --}}
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header"><b>Get All Users</b></div>
            <div class="card-body">
                {{#each items}}
                <div>
                    ID:{{this.id}}
                </div>

                <div>
                    username:{{this.userName}}
                </div>

                <div>
                    userEmail:{{this.userMail}}
                </div>
                <br><br>
                {{/each}}
                <form method="get" action="/getusers">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Get users</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    {{!-- ---------------- --}}

    {{!-- Update User card --}}
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header"><b>Update user data</b></div>
            <div class="card-body">
                <form action="/update" method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">ID</label>
                        <input type="text" class="form-control" placeholder="Enter your ID" name="id"
                            id="exampleInputID" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your data with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">User name</label>
                        <input type="text" class="form-control" placeholder="Enter username" name="username"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your data with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Email</label>
                        <input type="Email" placeholder="Enter Email" name="usermail" class="form-control"
                            id="exampleInputPassword1">
                    </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    {{!-- ---------------- --}}

    {{!-- Delete User Card --}}
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <form method="post" action="/delete">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">ID</label>
                        <input type="text" class="form-control" placeholder="Enter your ID" name="id"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Sure to delete your data</div>
                    </div>
                    <div class="text-center">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{!-- ---------------- --}}